[2016-11-30 16:01] chrisbraddock opened #2 "example using webpack"
I'd **really** like to be using this mock but I'm struggling getting it integrated.

I've started my project using the [Vue.js webpack template](https://github.com/vuejs-templates/webpack/tree/master/template) which employs `isparta` as well.

[2016-11-30 17:44] soumak77 commented on #2
I haven't tried to integrate with webpack yet, so I can't be of immediate help.  I have integrated with brunch ([see project template](https://github.com/base-apps/angular-firebase-template)) which might help you out a bit.  The `firebase-mock` files should be ignored by your app build and just included during testing ([see karma config](https://github.com/base-apps/angular-firebase-template/blob/

[2016-11-30 17:55] chrisbraddock commented on #2
I'm going to have to mess with it again when I can dedicate some time. I've burned a lot already. I'm still learning Webpack so I'm highly disadvantaged.

I reverted to using stubs (Sinon) and crossing my fingers for now. I'm afraid I'm going to have to put in more of the work that you've done in your mock though as I keep writing more tests. We'll see.

Thanks

[2016-11-30 18:07] soumak77 commented on #2
Using spies/stubs is a great alternative for small projects, however, as you mentioned, you'll end up doing a lot more work if you use that technique for large projects.

[2017-01-01 02:09] oddui opened #3 "Database reference"
Hi, is there plan to support the new [firebase.database().ref()](https://firebase.google.com/support/guides/firebase-web#get_a_database_reference_numbered) interface? Thanks

[2017-01-01 02:23] soumak77 commented on #3
Yes, in fact I implemented it in my original mockfirebase PR (https://github.com/katowulf/mockfirebase/pull/112), but looks like I never transferred that code to this repo.

[2017-01-01 02:28] #3 closed

[2017-01-01 02:30] oddui commented on #3
Thank you!

I'll try it out.

[2017-01-01 02:31] soumak77 commented on #3
Available as part of [1.0.2](https://github.com/soumak77/firebase-mock/releases/tag/v1.0.2)

[2017-01-01 02:37] soumak77 commented on #3
Forgot to update some changes from my PR.  1.0.2 is broken and will be fixed with 1.0.3 shortly.

[2017-01-01 03:06] oddui commented on #3
Unfortunately it does not seem to work for me. This is how i use it:

[code]

[2017-01-01 03:17] soumak77 commented on #3
You can check out this [project template](https://github.com/base-apps/angular-firebase-template) which uses `firebase-mock`.  I'm updating it right now to use the latest version.

[2017-01-05 18:53] posva opened #4 "Add suport for order queries"
Hi, great job on the mock working very nice so far 😄
Order queries like `someRef.orderByChild('index')` are not supported. Do you plan to support them?

[2017-01-05 21:12] soumak77 commented on #4
I don't plan on making any changes immediately myself, but I will accept PRs.  The problem is that ordering can get quiet complex, so mocking this behavior may lead to inconsistencies between how the actual firebase library does ordering vs the mock.  So long as your use case is simple then mocking the ordering behavior should work fine.

If you have a more complex use case that is difficult to mo

[2017-02-01 21:53] Caerbannog commented on #4
Note that some work has been done in the base repository:
https://github.com/katowulf/mockfirebase/pull/61

[2017-02-02 10:42] posva commented on #4
@Caerbannog Unfortunately that project is abandoned 😞

[2017-02-27 20:21] mrozbarry opened #9 "Is there ever a use case when you'd purposefully import FirebaseMock without actually overriding?"
In short, I think it's hard to unintentionally import FirebaseMock (or any library) outside of your test environment, and I'd make a recommendation to make the behaviour always override on import.

Is that reasonable? Is there a use case I'm not thinking about where production code would include both FirebaseMock and Firebase?

[2017-03-02 15:20] alfonsodev commented on #4
@posva but would you like that the mock is smart to order your data ?
or just the ability to set what that function should return in case by case basis ?

For example having an auxiliary method `firebaseMock.__setOrderByChild(childName, data)`
That would set the data as firebase would return it.
Or you want the mock to be smart enough to order the data previously set for that child ?
IMHO I'd sugg

[2017-03-02 15:24] posva commented on #4
I wanted it to emit the corresponding events, which can be very complex as @soumak77 pointed out.
I think it depends on what you're using the mock for. I was using it to test some firebase plugins but in an application it makes more sense to simply mock the whole data

[2017-03-02 18:36] jQrgen opened #10 "Failing a ref.once call"
Hello

It would be nice to be able to cause ref.once call to fail. I'm currently calling
[code]
in an angular controller and in my test code(jasmine) the following code does not cause the ref.once call to fail:
[code]

Thus I want ref.once() to fail and return an error in the callback so that I can throw an error and catch it in my test.

I would implement it into the library myself but I'm a begi

[2017-03-02 21:30] soumak77 commented on #9
@mrozbarry your production code should never use FirebaseMock.

A philosophy of unit testing is that each unit test should restore the environment back to its original state once completed (pass or fail).  While you can import FirebaseMock for all tests, it is likely that not every single test needs the mock imported.  So while the practice of overriding/restoring is repetitive, it is a best pract

[2017-03-02 21:30] #9 closed

[2017-03-02 21:31] jQrgen opened #12 "Mocking ref.update"
Hello

I'm trying to mock a ref.update function but it does not seem to work.
is ref.update() a part of the library?
Where can I see what methods are implemented in the library or not? I would love to extend it.

Code (Angular controller):
[code]

Jasmine test:
[code]

Thanks for any help.

[2017-03-02 21:41] soumak77 commented on #10
@jQrgen Not sure if this would work, but have you tried changing `update` to `once` in the `failNext` call?

[2017-03-02 21:45] soumak77 commented on #12
`update` returns a promise, not a reference.  Try the following:

[code]

[2017-03-02 22:01] jQrgen commented on #10
Thanks! This worked:

Angular controller:
[code]

Jasmine:

[code]

[2017-03-02 22:01] #10 closed

[2017-03-02 22:45] jQrgen commented on #12
Appreciate the answer soumak.

The old problem with the original code was that I was trying to flush on a promise. I have implemented the pattern you suggested below. flush() now runs with no errors (I was flushing on the wrong variable).

The new problem is that the promise is still undefined both before and after I have flushed.

Angular controller:
[code]

Jasmine:
[code]
--- >     TypeError: C

[2017-03-02 22:58] soumak77 commented on #12
It appears the [mock for update](https://github.com/soumak77/firebase-mock/blob/a0364db779489d3a6d6f62f416d7e4d50ccc172e/src/firebase.js#L167-L178) doesn't return a promise.  It must be updated to reflect the [3.0 API](https://firebase.google.com/docs/reference/js/firebase.database.Reference#update).  Until this change is made, you'll have to use the old API.

[2017-03-08 20:07] jQrgen opened #15 "createUserWithEmailAndPassword not working with v3?"
Hello

The pattern in [the authentication tutorial](https://github.com/soumak77/firebase-mock/blob/docs/tutorials/authentication.m): is using a deprecated firebase v2  call`Firebase('https://example.firebaseio.com');` instead of v3  `firebase.auth() from v3(;`. Currently using firebase v3 crashes my test.

[code]

How users are created in the client:
[code]

unit test:

[code]

[2017-03-08 21:32] soumak77 commented on #15
Here are some working examples for authentication unit tests using providers: https://github.com/base-apps/angular-firebase-template/blob/master/app/modules/account/account.spec.js

You'll see in the code that I setup a listener for auth state changes which get triggered after the flush operation.  Creating a user with email/password should work as well using the same structure.

[2017-03-11 21:23] jQrgen commented on #15
Thanks, ill give it a shot.

[2017-03-11 21:33] jQrgen opened #16 "Tutorial outdated + initializeApp() mock needed"
Hello

I'm trying to implement the [tutorial](https://github.com/soumak77/firebase-mock/blob/master/tutorials/proxyquire.md) for overriding `require('firebase')` on a node server using firebase API v3. I get the following message when `ref.on('value', function (snapshot) {` is executed:
[code]
Looking at the firebase-mock library there seems to be no override/mock for the [initializeApp() function

[2017-03-15 01:00] soumak77 commented on #16
The V3 fixes for this library to work on node are likely similar to those required to make the library work in the browser.  The following lines were added to support the V3 API: https://github.com/soumak77/firebase-mock/blob/master/helpers/globals.js#L7-L23.

In the code sample above, the `database` and `auth` methods are mocked.  You'll likely need to add a mock for `initializeApp` which is just

[2017-03-15 01:09] soumak77 commented on #16
@jQrgen If you get this working please submit a PR.  The `src/index.js` file for this project should be updated to export a new `MockFirebaseSdk` object which is similar to the one created in `helpers/globals.js`.

[2017-03-15 01:17] soumak77 commented on #16
Once this is added to `index.js`, `globals.js` can be updated to have a single line:

[code]

[2017-04-11 12:47] #16 closed

[2017-04-13 18:49] joshlory opened #17 "Move browserify from `dependencies` to `devDependencies`"
These are causing our project to pull in an older version of uglify-js.  We will update our yarn.lock but it would be helpful if these were moved to `devDependencies`:

https://github.com/soumak77/firebase-mock/blob/72ff5d7a38d9b994eaee5eec423becdf65dfa86d/package.json#L32-L33

[2017-04-13 21:15] soumak77 commented on #17
resolved with #18

[2017-04-13 21:15] #17 closed

[2017-04-14 04:47] soumak77 commented on #16
@jQrgen I've updated the tutorial for [v3 node support](https://github.com/soumak77/firebase-mock/blob/master/tutorials/proxyquire.md)

[2017-04-14 04:52] soumak77 commented on #4
Spies should be used to handle any complex ordering logic you need to test.  I've created a [tutorial for how to use spies](https://github.com/soumak77/firebase-mock/blob/master/tutorials/spies.md) to mock the orderBy* methods.

[2017-04-14 04:52] #4 closed

[2017-04-14 05:32] soumak77 commented on #2
@chrisbraddock I've updated this library to work with node (https://github.com/soumak77/firebase-mock/blob/master/tutorials/proxyquire.md).  Let me know if this helps with webpack integration.

[2017-04-15 00:48] #12 closed

[2017-05-04 18:55] douglascorrea opened #21 "Angularfire2 support?"
Is there any doc/reference supporting angularfire2 setup?

[2017-05-05 00:57] soumak77 commented on #21
Not at this time. AngularFire2 should support dependency injection for unit testing meaning you should be able to pass the mock firebase instance to AngularFire2. I'll post back in the future once I've gone though this myself. I'll accept any PRs detailing the process if someone has already done the grunt work.

[2017-05-13 14:52] TiraO opened #22 "fakeEvent implicitly called value subscriber is missing its value"
When I add a `value` subscriber to a new child when it is added, firebase-mock immediately calls the subscriber (as it should), but without the value set in the ref passed to the subscriber.
Real firebase calls the subscriber with the value set.

Here is a jasmine test that shows this behavior:

[code]

Alternatively if triggering the fake child_added event didn't call the value subscriber at all,

[2017-05-30 16:13] chrisbraddock commented on #2
@soumak77 I appreciate the efforts. Unfortunately I abandoned my attempts to setup testing against Firebase and probably won't be revisiting this any time soon. Maybe someone else will come along with the same issue, otherwise I'd say close it up if you've had success. Thanks!

[2017-06-01 14:18] leonardobazico opened #23 "FirebaseAuth has no defer"
I'm trying to mock FirebaseAuth, but I got error cause has no _defer function in FirebaseAuth.

[code]

How can I implement this?

[2017-06-19 19:10] dulimarta opened #26 "Running MockFirebase under Web Worker"
In the last several days I did extensive research to solve an issue running MockFirebase under a Web Worker. After reading [Issue 131](https://github.com/lodash/lodash/issues/313) of Lodash, I noticed that included under `firebase-mock/node_modules` is Lodash 2.x.

My quick fix is to rename `firebase-mock/node-modules` so it is excluded from normal Node search path, forcing a newer version of Loda

[2017-06-19 19:26] soumak77 commented on #26
@dulimarta can you submit a PR with lodash upgraded to 3.x?  Assuming the test cases pass, I'll merge it and publish a new release

[2017-06-19 19:28] soumak77 commented on #26
@dulimarta if you could add a test case demoing the issue that would be great as well, though I'm not sure how difficult it is to test a Web Worker

[2017-06-19 23:51] dulimarta commented on #26
@soumak77 would it be possible to create two MockFirebase instances (one under the main thread and another under a web worker thread) that refer to the **same data**. From I'm able to do so far, the two instances I created in my experiment did not seem to share a common data.

[2017-06-20 04:32] soumak77 commented on #26
@dulimarta That won't be possible since both instances will write to their own memory cache.  Instead you could design the web worker to support dependency injection and pass an instance of the firebase app to the web worker instead of the web worker creating the firebase instance.

If this method doesn't work, you might want to consider another library for testing your web worker.  You can use [f

[2017-06-20 05:12] dulimarta commented on #26
Thanks for your feedback on more web worker details, firebase-server, and firebase-reporting.

BTW, I have a new branch lodash-3 that upgrades Lodash to 3.10.1. I had to make minor changes in `firebase.js` and `query.js` to pass 3 failing tests.

I should probably create a new PR before adding test cases for web worker.

[2017-06-20 15:59] chetbox opened #28 "limitToFirst and limitToLast are not supported"
I run into an error when testing code that uses `limitToFirst`.

[code]

My code looks like this:

[code]

[2017-06-20 16:00] chetbox commented on #28
I can see there is a `limit` function. Is this from a different version of the API to the one I'm using?

[2017-06-20 20:28] soumak77 commented on #28
@chetbox yeah the library started out as supporting firebase v2 and slowing changes have been made to upgrade it to v3.  Looks like the limit apis need to be updated next.

[2017-06-26 09:17] #28 closed

[2017-06-26 09:18] soumak77 commented on #28
@chetbox changes are available in v1.0.10

[2017-06-26 09:18] soumak77 commented on #23
@leonardobazico please provide a code sample

[2017-06-26 09:42] chetbox commented on #28
Amazing, thanks!

[2017-06-26 17:00] chetbox opened #29 ""parent" should not be a function"
`database.ref('/items/item1').parent` should be a property with a ref not a function that returns a ref.

[Here](https://firebase.google.com/docs/reference/node/firebase.database.Reference#parent)'s the relevant documentation.

[2017-07-08 07:59] #29 closed

[2017-07-08 08:00] soumak77 opened #31 "Add support for admin auth methods"
https://firebase.google.com/docs/auth/admin/manage-users

Methods that are needed:
- getEmailByUser
- getUser

[2017-07-08 08:03] #31 closed

[2017-07-08 10:04] #15 closed

[2017-07-08 10:05] soumak77 commented on #15
@jQrgen I added support for `createUserWithEmailAndPassword` in version `1.1.4`

[2017-07-08 10:10] soumak77 commented on #23
Closing as inactive, please reopen with more information

[2017-07-08 10:10] #23 closed

[2017-08-01 01:19] #2 closed

[2017-08-01 01:19] #21 closed

[2017-08-06 16:34] angeliski opened #32 "firebase.auth.GithubAuthProvider.credential Error"
My test is about generate a new Github credential, but when I run, I got the error:
**TypeError: firebase.auth.GithubAuthProvider.credential is not a function**
I believe that error is because the sdk.js return a function:
**MockFirebaseAuth.GithubAuthProvider = function ...**
If I change that file to use a JSON Object I get the expected result...

I use that because I need call after the **signIn

[2017-08-06 17:14] soumak77 commented on #32
@angeliski A `credential` method will need to be added to the provider to support your use case.  The method should be added here: https://github.com/soumak77/firebase-mock/blob/master/src/sdk.js#L21

[2017-08-06 17:31] soumak77 commented on #32
@angeliski are you referring to this method?

https://firebase.google.com/docs/reference/android/com/google/firebase/auth/GithubAuthProvider.html#getCredential(java.lang.String)

[2017-08-06 17:34] soumak77 commented on #32
Disregard that last comment.  The link I sent was for the android SDK.  I see the `credential` method for the web sdk.

https://firebase.google.com/docs/reference/js/firebase.auth.GithubAuthProvider

[2017-08-06 17:39] angeliski commented on #32
@soumak77  Is the JS sdk. But I try added a new method inside GithubAuthProvider, but doesn't work.
I use that documentation in my develop: https://firebase.google.com/docs/auth/web/github-auth#processe_o_fluxo_de_login_manualmente
`var credential = firebase.auth.GithubAuthProvider.credential(token);`

The problem is, I don't call GithubAuthProvider how a function, I call the property credential f

[2017-08-06 17:40] soumak77 commented on #32
@angeliski understood, I'm refactoring the code now

[2017-08-06 17:44] #32 closed

[2017-08-06 17:47] soumak77 commented on #32
@angeliski support for credential method has been added to v1.1.5

[2017-08-06 17:49] angeliski commented on #32
Amazing @soumak77 ! I install and work! Great Job!

[2017-08-08 10:16] jQrgen opened #33 "How to fire firebase.once() in express middleware"
Hey

I'm using mocha/chai for unit testing middleware on a node/express server.

The firebase.once call is inside of a promise function which is used as middleware.
Using the following function from chai does not seem to work because firebase.once is never fired

[code]
The middleware and unit tests are defined as follows using the pattern found [here](https://www.slideshare.net/morrissinger/unit-

[2017-08-08 10:22] jQrgen commented on #33
This is my current workaround. Not sure if this is a good solution.

[code]

[2017-08-08 19:53] soumak77 commented on #33
@jQrgen I actually ran into an issue yesterday with promises and chai.  I was returning a promise from my test, but the body was not executing. I ended up switching the code to use a `done` method and got the code working.  Also, I used `notify` instead of `then`, when running code after the `fulfilled` check.  Try this out:

[code]

[2017-08-09 12:46] jQrgen commented on #33
Thanks, Brian.

I managed to get it working now.
`.deep.equal` is used for comparing objects(snap.val()) in chai
[code]

[2017-08-09 12:46] #33 closed

[2017-08-22 00:37] mateusz- opened #35 "Database arrays"
I'm storing arrays in the Firebase database. For example:

[code]

Basically, a JSON schema.

This seems to work just fine when not mocking. When retrieving data, I get an array for 'required' and 'order' properties above. Now, when using firebase-mock, the above data gets converted to:

[code]

This [Firebase article](https://firebase.googleblog.com/2014/04/best-practices-arrays-in-firebase.html)

[2017-08-22 00:49] soumak77 commented on #35
@mateusz- I've encountered this issue as well. I ended up refactoring my code so it wasn't an issue.  I think the mocks can be updated to check if it should return an array based on the info in the article (i.e. keys are numeric and sequential):

[code]

[2017-08-25 18:36] ntomallen opened #36 "mock-firebase with Jest testing"
I have this react project setup with the infamous `create-react-app` project, and testing for that defaults to Jest, which gets the job done. I'm trying to test out a class I created to initialize a store for a certain firebase ref, like so: (I'm using mobx to handle observable stores)

`BadgeStore.js`
[code]
Note that `fb` is an instance of firebase initialized with the web config API keys, etc.

[2017-09-16 22:07] elisechant commented on #36
You can use `jest.mock` instead of proxyquire.

I think you're looking for a snippet like this:

[code]

[2017-09-17 01:56] soumak77 commented on #36
@elisechant would you mind writing up a PR with this tutorial and link it to the main README like the others?

[2017-09-17 03:32] elisechant commented on #36
yep no worries @soumak77. I'll do it early this week. 👍

[2017-09-19 20:20] elisechant commented on #36
@ntomallen something like this might work for your code, using jest.mock in place of proxyquire:

[code]

[2017-09-20 13:31] ntomallen commented on #36
Neat! I am consuming Firebase via a configuration file. (e.g., requiring that file gives me access to the already-initialized instance of Firebase.) [I'm using this package.](https://www.npmjs.com/package/firebase)

Just to be sure I understand this all properly, when I use jest.mock, I will have to implement each of the API calls to Firebase and return what I would expect my Firebase instance to

[2017-11-19 04:06] joelwross opened #38 "Mock FirebaseUser"
Thanks for this great library! One piece that is missing is a set of mocks around the [FirebaseUser](https://firebase.google.com/docs/reference/android/com/google/firebase/auth/FirebaseUser) class, (which is passed in to the `onAuthStateChanged()` callback). I'm trying to test that use of helper methods (e.g., `updateProfile()`) are working correctly, but since currently the returned firebase user

[2017-11-30 04:32] soumak77 commented on #35
should be fixed via https://github.com/soumak77/firebase-mock/pull/37

[2017-11-30 04:32] #35 closed

[2017-11-30 23:38] soumak77 opened #39 "Add firestore mocks"
Create mocks for [firestore api](https://firebase.google.com/docs/firestore)

[2017-12-01 01:45] soumak77 commented on #39
I added a very rough implementation of the firestore api using the existing mocked behavior.  This can be cleanup up as needed as more complex use cases need to be tested.

[2017-12-01 01:45] #39 closed

[2017-12-01 02:04] soumak77 opened #40 "Add mock for firestore transactions"
https://firebase.google.com/docs/firestore/manage-data/transactions

[2017-12-15 10:17] ocombe opened #41 "Missing where on firestore collections"
I get an error about `prs.where is not a function` when I try the following code with firebase mock:

[code]

This is valid firestore code (it works without the mock).

For now I've patched it with

[code]

[2017-12-25 02:21] #41 closed

[2017-12-25 02:24] soumak77 commented on #41
@ocombe I've published version 2.0 which has support for `where`.  Currently it only supports the `==` operator.

[2018-01-01 22:12] TiraO opened #42 "when set is called with an empty-array child, the wrong results are returned in some cases"
When the 'set' value includes an empty array, fetching a child in some cases will discard alphabetically later siblings of the empty array's parent and include the the parent even though it has no valid firebase children.

MockFirebase should mimic Firebase's behavior during the set call and ignore values that have no [`string`, `null`, `number`, `boolean`, ServerValue.Timestamp, etc.] as children

[2018-01-02 03:43] soumak77 opened #43 "set should allow merging of data"
Update the mock of `document.set` to allow passing `{merge: true}` as parameter.

Reference: https://firebase.google.com/docs/firestore/manage-data/add-data#set_a_document

[2018-01-05 13:12] #40 closed

[2018-01-16 04:21] soumak77 commented on #43
fixed by https://github.com/soumak77/firebase-mock/issues/45

[2018-01-16 04:21] #43 closed

[2018-01-18 15:51] TarikHuber opened #47 "Auth error mock"
Hi,

Is it possible to simulate an auth error even?
Didn't find anything in the docu about that.

Thx

[2018-01-28 15:13] mpontus opened #48 "Question on using Database as the origin of data."
Hi, I would like to ask why are updates recorded on Reference level and not on Database level?

I think it might be useful if you could pass a database as a function argument and then flush updates to multiple refs simultaneously.

Do you agree? Is this an approach that `firebase-mock` could adopt in the future?

[2018-01-28 22:56] soumak77 commented on #48
All child refs should update when flushing changing to a parent ref so your use case should be supported.

[code]

[2018-01-29 00:24] soumak77 commented on #47
You should be able to pass any of the auth methods to `failNext` to have that method error on next call.  The list of auth methods can be found here: https://github.com/soumak77/firebase-mock/blob/master/src/auth.js#L75-L80

[2018-01-29 07:52] TarikHuber commented on #47
Thx @soumak77 . Will try it ASAP. I'm working on a library to sync firebase with redux: https://github.com/TarikHuber/firekit It has no dependencies and only functional programming. I'm trying to get the tests to 100% (status now 90%). A feedback from you would be awesome 😄

[2018-01-29 08:00] soumak77 commented on #47
@TarikHuber have you checked out https://github.com/firebase/reactfire?  That might help

[2018-01-29 08:07] TarikHuber commented on #47
Thx @soumak77 for the suggestion. I know that project. It is unfortunately very component based. Some project use redux as single state of truth so a redux sync is required. It also enables sync that is not limited by a component and firekit is in that sense the only library that supports persistent sync.

[2018-01-29 09:09] mpontus commented on #48
Thank you for your reply, @soumak77.

Consider the following function:

[code]

Testing the above function would look something like this:

[code]

I envision an API that would put Database in charge of the data flow, allowing flushes and data-retrieval on database level. Such API which would enable the following testing scenario:

[code]

I raise this issue to measure the interest for this API ch

[2018-01-29 10:26] soumak77 commented on #48
You should create a mock firebase app which you can then use to inject into your application code.   For example:

[code]

You can then test your function like so:
[code]

[2018-01-29 15:24] mpontus commented on #48
@soumak77 Thank you, this very helpful. Following your advice I was able to solve my issue with this simple test utility.

[code]

Do you think it would be sensible to change the behavior of MockFirebaseSdk to allow the following scenario?

[code]

[2018-01-29 23:15] soumak77 commented on #48
Your test code is broken.  By not providing the first argument to the method `MockFirebaseSdk`, a new mock database will be created each time you call `firebase.database()`.  Take a look at my example again and notice how I am passing a function as the first argument which then returns a reference to my existing mock database.  This ensures that all operations performed occur within the same mock

[2018-01-30 09:51] mpontus commented on #48
Sorry for the confusion, @soumak77. Disregard the second snippet.

Your solution works well for me. Thanks for all your help.

[2018-01-30 09:51] #48 closed

[2018-02-02 05:44] soumak77 opened #49 "allow null values in firestore"
Unlike the real-time database, firestore allows the value `null` to be set for a document property

[2018-02-10 06:35] soumak77 opened #50 "Allow using different type of promise library"
At one point Firebase used [rsvp](https://github.com/tildeio/rsvp.js/) for generating promises, however, they have since switched to using the native Promise class (see [firebase reference](https://firebase.googleblog.com/2016/01/keeping-our-promises-and-callbacks_76.html)).  As such, this mock library should be updated to use the native Promise class.  For backwards compatibility, **rsvp** should

[2018-02-10 12:24] soumak77 opened #51 "allow empty documents"
firestore allows empty documents if all properties are removed

[2018-02-10 15:27] #49 closed

[2018-02-10 15:27] #51 closed

[2018-02-10 16:14] soumak77 opened #52 "throw error when attempting to update document that doesn't exist"
throw error `No document to update` when updating document that doesn't exist

[2018-02-15 23:15] ethantran opened #53 "What is the right way to test firestore code in jest?"
I am getting this error when trying to fetch a document.
` Async callback was not invoked within timeout specified by jasmine.DEFAULT_TIMEOUT_INTERVAL.`
It seems to get stuck when calling `docRef.get()`
Source code:
[code]
Here is my source config:
[code]
I mock the config file:
[code]
and try to add some mock data:
[code]

[2018-02-15 23:23] soumak77 commented on #53
@ethantran `get()` returns a promise that is only resolved when the changes are flushed in the mock database.  You can either enable auto flushing `mockfirestore.autoFlush()` which will cause promises to immediately resolve or flush only the changes to the document/collection by calling `flush()` on the document/collection reference

this is similar to how the real-time database mocks work: https:

[2018-02-15 23:24] soumak77 opened #54 "Add tutorials for firestore"
Add tutorials for firestore testing similar to the ones available for the real-time database

[2018-02-15 23:39] ethantran commented on #53
Thanks for the quick response! I overlooked that part of the api reference.

[2018-02-15 23:39] #53 closed

[2018-02-18 19:49] #54 closed

[2018-02-21 15:29] a-xin opened #55 "`MockFirebase.prototype.root` should be a property instead of a function"
According to the docs, `root` of `firebase.database.Reference` should be a property pointing to another `Reference`:

https://firebase.google.com/docs/reference/js/firebase.database.Reference#root

`firebase-mock` implements `root` as a method, which makes code that runs fine with the firebase sdk break while running with `firebase-mock`:
[code]

### Code:
https://github.com/soumak77/firebase-mock

[2018-02-21 17:13] #55 closed

[2018-02-21 18:13] soumak77 commented on #36
Jest tutorial has been added.  I don't use it personally so please submit a PR for any necessary fixes.

[2018-02-21 18:13] #36 closed

[2018-02-21 18:15] soumak77 commented on #26
@dulimarta were you able to get this library working for a web worker?

[2018-02-23 10:28] a-xin commented on #55
Great, thanks @soumak77 :bowing_man:

[2018-02-24 00:58] lewchuk-inkling opened #56 "Use of orderByKey().startAt('desiredKey') always returns empty snapshot"
Queries support `limitToFirst` but not `startAt`. Example:

[code]

Output:
[code]

Expected Output:
[code]

[2018-02-24 01:05] soumak77 commented on #56
See more here: https://github.com/soumak77/firebase-mock/blob/master/tutorials/rtdb/spies.md

[2018-02-26 23:43] lewchuk-inkling commented on #56
@soumak77 sorry for the delay, I've added a description in case others end up here. The tutorials make it appear that none of the querying behaviour is expected to work. I was surprised because it looked like it worked in the first case but then didn't do what I expected in the second. If the expectation is that the library will not support these queries if it makes sense to log a warning or error

[2018-02-27 00:05] soumak77 commented on #56
@lewchuk-inkling logging a warning would be a good idea

[2018-02-27 22:14] #42 closed

[2018-03-01 05:10] soumak77 commented on #47
closing as resolved

[2018-03-01 05:10] #47 closed

[2018-03-08 14:49] a-xin opened #60 "Updating nested value via a transaction leads to inconsistent data"
Adding the following test to `test/unit/firebase.js` (`MockFirebase #transaction`):
[code]

Fails with:
[code]
I would have expected both paths to return the updated data and therefore the test to pass.

[2018-03-09 10:25] a-xin commented on #60
Hey @soumak77 I'm happy to take a look at it. Do you happen to have any suspicion what could be causing this issue?

[2018-03-11 02:25] #56 closed

[2018-03-11 04:06] #38 closed

[2018-03-11 04:08] soumak77 commented on #38
@joelwross I have added a mock user object with basic functionality

[2018-03-13 04:55] prescottprue opened #61 "Unexpected error when installing through yarn"
First off, thanks for the library. It is great to have this all wrapped up in one place.

Recently I started getting an error when installing through yarn:

[code]

Its weird though since lodash does have a 3.10.1 (confirmed through `npm view lodash`). It shouldn't matter, but I have another version of lodash already installed (`4.17.5`) in that project.

While we talking about lodash I had few qu

[2018-03-13 06:22] soumak77 commented on #61
There is no specific reason the library is still using lodash 3.10.1.  I'm happy to accept a PR to upgrade to use only the lodash modules required by the code.

I'm also happy to accept any other PRs to update the codebase to ES6 and use babel for transpiling to ES5.

[2018-03-14 01:06] esprehn opened #63 "Add orderBy behavior"
firebase-admin-mock was deprecated in favor of this library, but this one doesn't support orderBy while firebase-admin-mock did. That's a really critical feature that prevents us from using this library.

https://github.com/sebasgarcep/firebase-admin-mock/blob/42bd3d862e28004ae97a7eed35b622843ccde05a/lib/database-accesors.js#L81

It's unfortunate that project was immediately archived without havin

[2018-03-14 01:11] esprehn opened #64 "Add equalTo behavior"
This was supported by firebase-admin-mock which was deprecated in favor of this library.

https://github.com/sebasgarcep/firebase-admin-mock/blob/42bd3d862e28004ae97a7eed35b622843ccde05a/lib/database-accesors.js#L48

It should be easy to implement if you already have startAt/endAt since it's the same as setting the range endpoints to the same value. No reason to use spies there.

This is all the r

[2018-03-14 01:18] esprehn opened #65 "Snapshot .val() should return a new clone each time"
https://github.com/soumak77/firebase-mock/blob/1c348c14b812a20a15ae388352413f12bac63790/src/snapshot.js#L13

The API is supposed to return a new deeply cloned object each time. All the existing callers in that file need to use some internal API probably like ._value() since ex. exists() shouldn't clone the whole value just to check if it's null.

[2018-03-14 01:33] #65 closed

[2018-03-14 01:42] soumak77 commented on #63
Although the docs mention that these methods are not implemented due to their complex nature, I'm fine adding basic functionality for most use cases.  If someone needs more complex ordering, they can choose to use spies instead.

[2018-03-14 01:42] soumak77 commented on #64
Although the docs mention that these methods are not implemented due to their complex nature, I'm fine adding basic functionality for most use cases.  If someone needs more complex ordering, they can choose to use spies instead.

[2018-03-14 02:46] sebasgarcep commented on #64
@soumak77 I invite you to reconsider your position on spies and complex ordering. A mocking library should attempt to replicate what it is mocking as closely as possible, even complicated under-the-hood stuff. If this is not on your roadmap please announce it clearly, so that we can keep `firebase-admin-mock` open to people who might need this alternative.

I really hope you reconsider, though. I

[2018-03-14 02:53] soumak77 commented on #64
@sebasgarcep I am perfectly fine with this library mocking the behavior of the realtime database query methods.  The original reason this was not implemented was simply to not give people false hope that it would work for every use case.  I'm fine adding basic functionality, I'm just not sure whether or not it is possible to 100% mock the firebase logic without some bugs.   If it is possible and p

[2018-03-14 03:04] sebasgarcep commented on #64
@soumak77 Thanks for clarifying!

And there is hope! Firebase has documentation on how a lot of these things work under-the-hood. We already have a working and tested implementation down at `firebase-admin-mock` which is missing only priorities (I think). Maybe that can help. 😄 I wish I could put some man-hours into it, but I'm really busy right now 😭 .

[2018-03-14 03:12] soumak77 commented on #64
Anyone in the community want to work on getting this working?

[2018-03-15 01:06] soumak77 commented on #60
@a-xin I think I just found the issue.  I'm refactoring the code to use lodash 4.x and stumbled across this code: https://github.com/soumak77/firebase-mock/blob/1c348c14b812a20a15ae388352413f12bac63790/src/firebase.js#L340-L358

Looks like I didn't replace `this` with `self` in all places.  This change will be made with my other changes to support lodash 4.x.

[2018-03-15 01:20] soumak77 commented on #60
@a-xin please see if this has been resolved with v2.1.3

[2018-03-15 01:22] soumak77 commented on #61
@prescottprue I've updated the code to support lodash 4.17.5.  Please see if v2.1.3 fixes this issue.

[2018-03-15 01:29] soumak77 commented on #26
Closing this issue as will not fix.  Use [firebase-server](https://github.com/urish/firebase-server) for testing with web workers.

[2018-03-15 01:29] #26 closed

[2018-03-15 02:26] soumak77 commented on #22
@TiraO after trying to debug the code, I've come to the conclusion that this functionality appears to be by design.  Using a `fakeEvent` does not modify the values in the database.  Therefore calling `snapshot.ref` inside the `child_added` handler will give you a reference to the database without the value added by the `fakeEvent`.

Therefore to get the functionality you have in the test, you will

[2018-03-15 02:26] #22 closed

[2018-03-15 07:19] #61 closed

[2018-03-15 07:49] #60 closed

[2018-03-15 07:50] soumak77 commented on #60
@a-xin I found and fixed the root cause.  Nested values were not being cloned properly.

[2018-03-15 10:39] a-xin commented on #60
@soumak77 Thanks, great you caught the root cause!

[2018-03-15 13:51] #64 closed

[2018-03-15 21:54] prescottprue commented on #61
Fixes the issue and works great, thanks!

Just as a note: we could still use `lodash` as a dependency (instead of each child dep) and just require them in a way that pulls that function instead of the whole lirbary i.e.:

[code]

[2018-03-15 22:06] soumak77 commented on #61
@prescottprue yeah I know.  I probably should have just done that since the full `lodash` library is downloaded by multiple dependencies.  In any case, it's better for the long run to only download what is needed in case those libraries ever update to do the same.

[2018-03-26 01:33] nonplus opened #68 "When set is called with object with numeric keys, get returns an array"
Calling `set` with an object with **numeric keys**, causes `.once('value')` to return an array:
[code]
Output:
[code]
If the object has at least **one non-numeric key**, it is correctly returned.

[2018-03-26 01:54] soumak77 commented on #68
This behavior was added with https://github.com/soumak77/firebase-mock/pull/37

@nonplus does firebase return the object or an array?

[2018-03-26 02:21] nonplus commented on #68
OMG, that _is_ the behavior that you also get from Firebase. 🤢

Well, that's pretty messed up, IMO, but firebase-mock behaves consistently.

Sorry about opening the issue.

[2018-03-26 02:21] #68 closed

[2018-03-27 20:06] alexjpaz opened #69 "The module md5 is not present when installing firebase-mock"
### The symptom

When attempting to require `firebase-mock` auth or bundling `firebase-mock` with a webpack

[code]

This seems to affect the build when using `yarn` or `npm`. I can confirm that the module `md5` is not present (however `md5.js` is).

### Workaround

Manually running `npm --save-dev md5` seems to resolve the issue.

### yarn.lock snippet

[code]

[2018-03-27 20:11] soumak77 commented on #69
@alexjpaz looks like `md5` isn't even really used.  I'll remove the module and publish a new patch release.

[2018-03-27 20:12] #69 closed

[2018-03-29 16:50] peterhry opened #70 "Missing firebase.database.ServerValue"
The property `firebase.database.ServerValue` appears to be missing from `MockFirebaseSdk`.

Example:
[code]

It should return an object as per the firebase docs: https://firebase.google.com/docs/reference/js/firebase.database.ServerValue

[2018-03-29 16:53] peterhry opened #71 "`firebase.storage` is missing from MockFirebaseSdk"
`firebase.storage` is missing from MockFirebaseSdk.

Example:
[code]
https://firebase.google.com/docs/reference/js/firebase.storage

[2018-03-29 17:01] soumak77 commented on #70
It looks like the logic to handle the server timestamps is implemented, but is not being exposed via `database.ServerValue`
https://github.com/soumak77/firebase-mock/blob/ea13a1e0f0c50215649084210a54c7aaee02e51c/src/firebase.js#L446-L448
https://github.com/soumak77/firebase-mock/blob/ea13a1e0f0c50215649084210a54c7aaee02e51c/src/firebase.js#L472-L474
https://github.com/soumak77/firebase-mock/blob/e

[2018-03-29 17:10] soumak77 commented on #71
I'm currently using `@google-cloud/storage` in my server code to interface with storage (this was done before `firebase-admin` supported storage).  I have all my storage functionality mocked, so it should be easy to convert that logic into this library.  I'll work on this once I get around to converting my server source code to use firebase storage API.

[2018-03-29 20:26] soumak77 commented on #71
@peterhry mocks have been added for storage API for `firebase` and `firebase-admin`.  Not all APIs are mocked, just the most common use cases.  Create additional issues if more APIs need to be supported.

[2018-04-03 23:22] soumak77 opened #72 "Support Cloud Functions v1"
[Firebase SDK for Cloud Functions version 1](https://firebase.google.com/docs/functions/beta-v1-diff) was just released and changes the API for all non-HTTP functions.  This library needs to be updated to support the new API, while still providing backwards compatibility for the old API.

[2018-04-06 18:22] soumak77 opened #73 "Research supporting firestore rules"
It would be extremely helpful to be able to set firestore rules during unit testing.  The `MockFirebase` class can be updated to take in a JSON object specifying the rules for specific documents.  Those rules can then get parsed and applied to any CRUD operations on the documents.  This would only be useful for client-side testing as the firestore security rules do not apply for firebase-admin or

[2018-04-08 03:21] soumak77 opened #74 "support File.move"
https://cloud.google.com/nodejs/docs/reference/storage/1.6.x/File#move

[2018-04-08 03:29] #74 closed

[2018-04-08 03:42] soumak77 opened #75 "Support Bucket.deleteFiles"
https://cloud.google.com/nodejs/docs/reference/storage/1.6.x/Bucket#deleteFiles

[2018-04-10 17:27] soumak77 opened #76 "Support setCustomUserClaims"

[2018-04-10 18:51] #76 closed

[2018-04-10 19:11] #75 closed

[2018-04-11 00:59] starhoshi opened #77 "Support DocumentReference.create"
Firestore.DocumentReference has `create` method.
Please support `create`.

https://github.com/googleapis/nodejs-firestore/blob/master/types/firestore.d.ts#L453-L460

[2018-04-11 01:10] starhoshi opened #78 "DocumentReference do not match query"
I can not get data with a query using DocumentReference.

This code, I can get data with a real Firestore, but can not get it using firebase-mock.

[code]

[2018-04-11 02:52] soumak77 commented on #77
@starhoshi is `create` just an alias for `set` without any options?

[2018-04-11 03:32] soumak77 commented on #77
**create**: The write fails if the document already exists
**set**: The write will replace (or merge with) the existing document

[2018-04-16 17:23] fshe opened #79 "Changes to nested collections aren't reflected by queries to outer references"
Hello, I am using this library with Jest to perform some testing. This is an example of what I am trying to do:
[code]
Here is the snapshot generated:
[code]

As you can see,  the changes weren't visible unless I queried for the innermost collection. Is this the expected behavior? If so, could I get some guidance into how this is supposed to be done? Thank you!

[2018-04-16 17:44] soumak77 commented on #79
First off, I would suggest to not use any methods internal to `firebase-mock` (i.e. those starting with an underscore or even `getData()`).  Instead use the API provided by firebase to do anything.  This will help to remove any confusion as to what `firebase-mock` is doing internally, as from the test case perspective the functionality should be the exact same as the firebase API.

Second, there i

[2018-04-16 18:57] fshe commented on #79
@soumak77 Thank you for the prompt response! I have edited the example as you suggested, there seems to still be an error. I believe the query to the outer document should reflect the changes to the inner document. :/ Please let me know if I have done something incorrect again!
[code]
Snapshot:
[code]

[2018-04-16 19:12] soumak77 commented on #79
@fshe I believe your confusion is due to the differences between realtime database and firestore.  Please familiarize yourself with the differences: https://firebase.google.com/docs/database/rtdb-vs-firestore

In terms of your specific example, when you query data for a specific document in firestore, you do not get data stored in child collections.  You will only get the data stored in the specif

[2018-04-16 20:25] fshe commented on #79
Aha! That makes sense to me. I appreciate you taking the time clear up my confusion. 🥇

[2018-04-16 20:25] #79 closed

[2018-04-17 17:41] solomon-b opened #80 "`MockStorageFile` is missing `createWriteStream` and `createReadStream`"
I'm trying to test an express route that uses admin.storage for file uploads. I noticed that `createWriteStream` is missing from the `MockStorageFile`. Any plans to add this function?

[2018-04-17 17:42] soumak77 commented on #80
@ssbothwell every API should be mocked at some point.  I've only mocked what my app has needed thus far.  PRs are welcome for mocking any other APIs.

[2018-04-17 17:45] ssbothwell commented on #80
I see. I would be happy to help out with this but I'm not very experienced with JS or writing mocks.

[2018-04-22 01:40] edenworky opened #81 "Feature request: Realtime updates from Firestore"
It seems that collections and documents don't support the [realtime update API ](https://firebase.google.com/docs/firestore/query-data/listen) in Firestore. Please add support for the `onSnapshot` function, or otherwise documentation for wrapping the current implementation with observables. My Angular app relies on them.

[2018-04-23 18:58] soumak77 commented on #81
Not sure when I'll get to this, but I'll take a PR from anyone that wants to give it a shot.

Here is the official API that needs to be mocked: https://firebase.google.com/docs/reference/js/firebase.firestore.DocumentReference#onSnapshot.

`onSnapshot` should be added as a method to this class: https://github.com/soumak77/firebase-mock/blob/master/src/firestore-document.js

[2018-05-02 10:28] a-xin commented on #72
@soumak77 Happy to help with this, have you already started planning or implementing support for v1? Any bigger changes to firebase-mock you'd be expecting?
My guess is that mainly implementation and usage of the DeltaSnapshot interface would need to be changed to the new DataSnapshot interface.

I recently switched a project (using auth and triggers, rtdb and triggers, cloud functions, pubsub) to

[2018-05-04 14:10] mckingho opened #82 "Firestore CollectionReference query does not support orderBy().startAt()"
This is my query call.
[code]
I got this error `ref.where(...).orderBy(...).startAt is not a function`

The firebase-mock version is 2.2.2

[2018-05-05 22:25] Sircrab opened #83 "Push operation does not return a "thenable" reference."
When using the Firebase SDK, a push operation on a reference returns what is called "thenable" reference which allows the use of then/catch or await, this allows to detect whether a write operation was successful or not.

In firebase-mock, the references returned by MockFirebase do return a promise in the case of a 'set' operation, which is used when 'push' is called, however push returns the chil

[2018-05-09 03:57] #83 closed

[2018-05-15 21:57] jhickey opened #84 "MockFirestore: `RangeError: Maximum call stack size exceeded` when setting a ref with `{merge: true`}"
Hi, apologies if I'm doing something wrong here, but in MockFirestore, attempting to `set` a ref with `merge:true` enabled is causing a loop. Example:

[code]

results in

[code]

The issue appears to be that refs contain a circular reference, so when `removeEmptyFirestoreProperties` recursively loops through the object keys it's getting stuck there.

[2018-05-19 15:18] soumak77 commented on #84
Your code is correct.  Currently the firestore mocks do not support saving a reference, which is a bug.  Similarly, queries are not working with references either (https://github.com/soumak77/firebase-mock/issues/78).

[2018-05-24 00:36] fshe opened #86 "Firestore runTransaction resolves to undefined"
On success, `runTransaction` should return the promise returned by the update function. This way we can pass data out of the transaction:
https://firebase.google.com/docs/reference/js/firebase.firestore.Firestore#runTransaction

Example here:
https://firebase.google.com/docs/firestore/manage-data/transactions#passing_information_out_of_transactions

In the `then` callback of the promise returned b

[2018-05-28 15:35] weepy opened #87 "storage task has no 'on' method"
i.e. expect to be able to listen to 'state_changed'

[2018-05-29 20:51] fshe opened #88 "Mock's 'set with merge' behavior inconsistent with Firestore"
Firestore's 'set with merge' logic is not appropriately mocked for various cases.
My specific use case involves setting a nested field to an empty object.
[code]
Firestore will set the value of `someField` to `{}`, while the mock's merge (lodash) does nothing in this case if an object already exists at the path.

[2018-05-31 09:02] iverenshaguy commented on #87
Same issue

[2018-06-13 06:07] osamtimizer opened #89 "Is it possible to mock "database.ref().once" inside of test code for express router?"
I'm trying to write a test code for express router with mocha and supertest.

Unfortunately, my test code isn't working well.
I run the test code with `mocha test.js`, but the result is always timed out.
I'm afraid  `once('value')` event will never be fired in express router with supertest.
Honestly speaking, in actual environment my code is working correctly.

Are there any workarounds?

[code]

[2018-07-05 09:36] huafu opened #93 "removeEmptyRtdbProperties removes Date objects"
Firebase RTDB automatically transforms `Date` objects into timestamps. This package totally removes date values. This is done within the `removeEmptyRtdbProperties` method of `src/utils.js`.

[2018-07-05 10:14] huafu commented on #93
Sounds like linked to #46 – tho now I'm not 100% sure that Date objects are actually converted in firebase, will double check and confirm here.

[2018-07-05 10:30] huafu commented on #93
Ok my bad, firebase RTDB **DOES** remove `Date` objects.

[2018-07-05 10:30] #93 closed

[2018-07-09 04:32] huafu opened #94 "RTDB transaction (ref.update) do not work as expected"
Consider this as database:
[code]

Normally if you run the following update:
[code]
You should get this as the database state:
[code]
but here is what you get instead with `firebase-mock`:
[code]

Update should act as a multi `set`, overriding the value at the location(s) pointed by each the given object's key.

_I'll try to provide a PR fixing this ASAP..._

[2018-07-17 00:14] SidneyNemzer opened #97 "Cannot read property replace of undefined when path is '/'"
[code]
[Runkit](https://runkit.com/embed/urww663xpl2x)

Stacktrace:
[code]

Firebase JS SDK behavior:
[code]
(Both reference the same path, "/")

[2018-07-22 06:22] alanrgan commented on #89
I ran into the same issue, and the only workaround I've found so far is a little unpleasant. You'll have to insert middleware into the app in your spec file and call `next` at the end of each of your routes:

[code]

[code]

It's unpleasant because you have to modify the source code a bit to accommodate the flushes. I haven't found a better way yet.

[2018-07-22 06:44] alanrgan commented on #89
Actually, I tried using `autoFlush` on the mocks per #53, and it seemed to work well without adding that middleware. The only thing is that for some reason, you still have to call `next()` in your routes

[code]

[2018-07-23 21:50] Dygerati opened #98 "Promises for firestore() functions never resolving?"
Freshly implemented firestore-mock, and it works for basic initialization but I run into issues as soon as I try to perform any async operations. I have this statement in my app:
[code]

But unfortunately the returned Promise never seems to resolve and the test time's out.

I also just created a quick statement in a test file to try it out and ran into the same issue:
[code]

Any clues as to what

[2018-07-23 22:34] Dygerati commented on #98
Nevermind, overlooked the bit about `.flush()` in the api. Spoke just a little too soon!

[2018-07-23 22:34] #98 closed

[2018-07-25 22:19] Rotorsoft opened #99 "batch.create not implemented"
I'm currently overloading the entire batch, but should be as simple as below. This feature is needed to catch concurrency exceptions when using firestore to record events in event sourcing implementations.

mockfirestore.batch = function () {
  var self = this
  return {
    **create: function(doc, data) {
      if (doc.data)
        throw Error('document already exists')
      doc.set(data)
    }

[2018-07-30 13:57] Rotorsoft commented on #99
Hi soumak77,
Are you still supporting this project? This is the most complete firebase mock library out there and would be a shame if some of the basic capabilities are missed. I'm currently patching "create" to be able to complete my tests (see below), but would prefer if you or some other contributor makes it official considering your global understanding of this product.
Cheers!

[code]

[2018-08-05 18:32] a-xin opened #102 "RTDB: Calling .val() on a child that is 0 or false returns null"
Calling `.val()` on a child that is `0` or `false` returns `null`

Expected behaviour: The following tests pass (when added to `/test/unit/firebase.js`)

[code]

[2018-08-11 19:03] ilearnio opened #103 "Question: How to define sub-collections of documents when defining MockFirestore?"
Currently we define mocked DB documents like so:

[code]

Is there any way to pass nested sub-collections? So it would look something like:

[code]

[2018-08-20 18:46] soumak77 commented on #86
this will be fixed by #96

[2018-08-20 18:54] soumak77 commented on #87
@iverenshaguy yes this library should be used to mock firebase storage, however, not all APIs are implemented yet

[2018-08-20 18:59] soumak77 commented on #88
@fshe is this still an issue with version 2.2.5?

[2018-08-20 19:00] soumak77 commented on #89
closing as resolved

[2018-08-20 19:00] #89 closed

[2018-08-20 19:03] soumak77 commented on #99
@Rotorsoft yes this library is still supported, however, I need help from the community to help implement missing APIs.  PR #90 implemented doc.create, so a new PR can be submitted which adds batch.create.

[2018-08-20 19:11] soumak77 commented on #103
@ilearnio your example is not the desired way to initialize documents.  You should use the firestore API when needing to initialize any data.  This is true for documents and collections.  Please read the [tutorial](https://github.com/soumak77/firebase-mock/blob/master/tutorials/client/firestore.md) for more info or check out some of the unit tests in this library to see how they initialize data.

[2018-08-20 19:11] #103 closed

[2018-08-20 19:11] soumak77 commented on #77
Implemented via #90

[2018-08-20 19:11] #77 closed

[2018-08-27 03:08] soumak77 commented on #86
fix available in [v2.2.6](https://github.com/soumak77/firebase-mock/releases/tag/v2.2.6)

[2018-08-27 03:08] #86 closed

[2018-08-30 01:27] soumak77 commented on #41
@amirhmk `==` is still the only supported operator.  I'll gladly take any PRs which help implement the other operators.

[2018-09-07 17:44] morgler opened #108 "createUser requires "password", but real firebase does not"
The mock does not seem to reflect the latest firebase interface. In my case, the `admin.auth().createUser()` method should work with any parameter. Especially the case `createUser({email: "some@email.com"})` should work (see documentation: https://firebase.google.com/docs/auth/admin/manage-users).

But `firebasemock.MockFirebase()` throws an error stating `Firebase.createUser failed: First argumen

[2018-09-07 17:50] SidneyNemzer commented on #108
`firebase.auth()` doesn't have a `createUser` function, does it? https://firebase.google.com/docs/reference/js/firebase.auth.Auth

`admin.auth()` *does* have a `createUser()`, and indeed, the password is optional. But as far as I know, the client SDK cannot create a user without a password.

[2018-09-07 17:56] soumak77 commented on #108
Because the API is being used for both client and server testing, the createUser method was needed for both and as you called put, the required parameters differ between the client and server.

To get around this in my tests I just had my test code add a password for the server call even though it wasn't necessary. If you have a better suggestion for how to handle this I'll gladly take a PR.

[2018-09-08 01:51] soumak77 commented on #108
I can't remember which version it was, but in the past the client SDK had a `createUser` method.  It appears those have since been replaced with [createUserWithEmailAndPassword](https://firebase.google.com/docs/reference/js/firebase.auth.Auth#createUserWithEmailAndPassword) and [createUserAndRetrieveDataWithEmailAndPassword](https://firebase.google.com/docs/reference/js/firebase.auth.Auth#createUs

[2018-09-08 02:05] #108 closed

[2018-09-08 02:06] soumak77 commented on #108
fix available in v2.2.7

[2018-09-08 02:10] soumak77 commented on #99
It looks as those this method has been added.  Please reopen if you are still haven't trouble using `batch.create`

https://github.com/soumak77/firebase-mock/blob/040a4929d11cce4a27e62391d539fb67d3963cef/src/firestore.js#L117-L120

[2018-09-08 02:10] #99 closed

[2018-09-13 12:49] morgler commented on #108
Wow, that was quick. Thanks :).

[2018-09-26 17:25] rhodgkins opened #110 "Updates being with slashes are throwing errors"
The real Firebase RTDB allows updates to being with `/`, this mock library however does not :(

Test case that fails available [here](https://github.com/bookcreator/firebase-mock/tree/slashes):

[code]

Error:

[code]

[2018-09-26 18:46] #102 closed

[2018-09-26 19:38] #110 closed

[2018-09-26 19:38] rhodgkins commented on #97
@soumak77 I've fixed #97 too, bear with!

[2018-09-26 19:49] #97 closed

[2018-10-18 20:00] Redmega opened #114 "Firebase Mock update() returns the updated value instead of void"
According to the firebase docs, `ref().update()` `returns firebase.Promise containing void`

Ran into this issue when writing tests for some endpoints. My tests ensured that the updated value was returned to the client, but when actually doing the requests we were facing issues where `undefined` was being returned instead. Took about two hours of effort to figure out it was because the tests did n

[2018-10-25 12:35] artooras opened #115 "Full setup example Firestore + React + Jest"
Hi. While trying to set up `firebase-mock` in my project, I fail to 'connect the dots'. I have the following setup.

**firebaseSetup.js**

[code]

**AppBody.js**

[code]

Now, the tricky part - **AppBody.test.js**

[code]

Now, obviously, my `test` file is incorrect. For one, `mocksdk` is undefined in line 6. So, my question is, how do I setup `firebase-mock` correctly so that my `AppBody` compone

[2018-10-29 18:56] balazsorban44 commented on #115
I struggle to set it up as well.  :thinking:  A better example would be very appreciated!

[2018-10-29 20:52] Eji4h commented on #115
Because you use mocksdk before declare, a mocksdk was declare at line 13. I suggest you to see tutorial at [Tutorial: Integrating with jest](https://github.com/soumak77/firebase-mock/blob/master/tutorials/integration/jest.md) and you don't necessary to use proxyquire when you use jest.

[2018-10-30 10:41] artooras commented on #115
Thanks @Eji4h. I have removed `proxyquire`, and my updated **AppBody.test.js** looks like this:

[code]

The return statement of my mock matches that of `firebaseSetup.js`, as per instructions. However, when I run my test, I get an error saying:

`TypeError: this.dbData.onSnapshot is not a function`

referring to this line in `AppBody.js`:

`this.dbDataUnsubscribe = this.dbData.onSnapshot(data =>

[2018-11-07 10:03] wiadev opened #118 "How to write a unit-test for read data from firebase realtime database"
Hi.
I've checked your sample code but can't figure out how to use it.

Here is my source code.

[code]

FYI, this.db = firebase.database() from require('firebase');

The source code is working fine by reading data from Realtime Database.

I need to write a unit test for this part.

I tried to use `firebase-mock` but no idea how to do it.

Can you please help me?

Thanks. @soumak77

[2018-11-19 19:53] joelclimbsthings opened #119 "Best method for "clearing/resetting" firestore between tests?"
Do I just need to cycle through and call `.delete()` for all documents between tests, or is there a better way?

I'm using Jest as the test runner.

[2018-11-20 20:58] BrianChapman opened #120 "signInWithEmailAndPassword returns user, not UserCredential"
The [signInWithEmailAndPassword](https://firebase.google.com/docs/reference/js/firebase.auth.Auth#signInWithEmailAndPassword) method is supposed to return a promise containing [UserCredential] (https://firebase.google.com/docs/reference/js/firebase.auth#.UserCredential) but it returns a partial user object (https://github.com/soumak77/firebase-mock/blob/master/src/firebase-auth.js#L124)

In fact a

[2018-12-05 00:58] joshAg opened #121 "users do not have a toJSON function"
real firebase user objects have a toJSON function (https://firebase.google.com/docs/reference/admin/node/admin.auth.UserRecord#toJSON). It'd be great if the mock objects had one too.

[2018-12-10 21:30] Redmega opened #123 "ref.push() not resolving if ref.set() used separately"
I have the following function written with `.push()` followed by `.set()` separately because I need to duplicate my id into the document for legacy reasons.

[code]

When testing this function, it never resolves, causing jest to timeout.

I haven't had the chance to test it if used in tandem, to see if `.push().set()` works, but in this particular case I would need to make two firebase calls to ac

[2018-12-12 15:38] joelclimbsthings commented on #119
It looks like this repo is no longer maintained?

[2018-12-21 13:16] balazsorban44 opened #125 "Cannot test realtime database"
Hi @soumak77
I have the following function in my `source`:

[code]

In my `test`, I am trying to test the scenario when `sholudSort` is `false`, and the function should return the `.val()` of the database ref.

my `firebase.mock.js`:
[code]
my `test` file:

[code]

In my console though, I get the following error:

![image](https://user-images.githubusercontent.com/18369201/50344372-00671900-052b-1

[2019-01-17 15:48] texels opened #127 "Timestamp isn't resolved in deep update paths"
When I try to put a timestamp ( via firebase's TIMESTAMP or { '.sv : 'timestamp' } object, deep objects are not resolved to the time:

**Test**
`
const Mock = require( 'firebase-mock' )
const { expect } = require( 'chai' )

let database = new Mock.MockFirebase()
const firebase = Mock.MockFirebaseSdk( ( path ) => {
  return path ? database.child( path ) : database;
} )

const time = 10
Mock.MockFir

[2019-01-21 13:12] froddd commented on #115
The only library that needs mocking is the `'firebase/app'` one, so your mock should apply to that instead and simply return the mock SDK  -- the 'instructions' (if one can call them that) are misleading:

[code]

[2019-01-21 15:05] artooras commented on #115
Thanks, I think I'll give it another go and try your suggestion. I have since implemented a mock of my data-handling file, but maintenance is a bit of a pain in the bum... It would be much easier if I could simply mock the firebase bit.

Is there a way to set initial data for the tests? I couldn't really find that in the docs either.

[2019-01-21 15:53] froddd commented on #115
AFAIK the only way to set initial data is to manually set each document, so:

[code]

If you're only testing for one user and each user has its own document, I guess you'll only have one call to `set()`.

[2019-01-22 23:21] NullSoldier commented on #125
You need to call autoFlush. Your firebase requests don't digest automatically.

[code]

[2019-01-25 19:02] Jank1310 commented on #119
Just reset the firestore mock using beforeEach. See https://github.com/soumak77/firebase-mock/blob/master/tutorials/integration/setup.md for setup.

[code]

Hope this helps :)

[2019-01-27 05:20] BrianChapman opened #129 "Firestore: timestampsInSnapshots support"
The timestampsInSnapshots option has been around for a while but it is deprecated and now is enabled by default.

[code]

[2019-02-04 12:57] ollietreend commented on #78
I'd like to add my support to this. It makes unit tests needlessly complex when `firebase-mock` doesn't support this type of query.

[2019-02-22 16:56] garyo commented on #115
@froddd : I tried your suggestion above, mocking the 'firebase/app' rather than my '@/firebase-setup', but it doesn't work for me; the mocking code runs but it doesn't seem to affect the actual firebase calls my source code makes -- they're still using the un-mocked firebase. For instance, in my test code `firebase.firestore().autoFlush()` is not a function.

Any further hints? It would be great t

[2019-02-22 17:18] garyo commented on #115
And if I try it a different way, I get `firebase.apps.length`: Cannot read property 'length' of undefined. This seems to be because `firebase` is now the mock object:
[code]
which as you can see doesn't have an `apps` member. I can work around that by checking for `apps` in my init code, but then I'm back to this error:
[code]
so maybe firebase-mock just doesn't implement what I need?

[2019-02-22 17:27] garyo commented on #115
Aha, I see #81 is about missing `onSnapshot()`. That's core to how I use Firestore so I guess this won't work for me.

[2019-02-24 19:44] froddd commented on #115
I think firebase has moved on a bit since the last commits to this mocking library -- I've just come across some more missing functionality, which I may create a PR for.

[2019-03-20 13:02] p12y opened #137 "changeAuthState not triggering onAuthStateChanged observer"
In my component I have an observer listening for auth state change:
[code]
In my test, I am changing the auth state like so:
[code]

The problem is that changing the auth state in my test is not triggering the observer, meaning the state doesn't get updated in the component during the test.

Is this a bug, or am I misunderstanding the implementation of this? Thanks.

[2019-03-20 15:12] p12y commented on #137
Closing this as it was a mistake in my implementation.

[2019-03-20 15:12] #137 closed, assigned to nobody

[2019-03-25 02:39] ghost commented on #120
I've just submitted a pull request that similarly modifies createUserWithEmailAndPassword.

[2019-03-25 10:59] p12y commented on #119
@Jank1310, that doesn't work for Jest tests, though. I have this at the top of my tests:
[code]

It has to be outside of the beforeEach block to work, so resetting it that way won't work. It would be nice to have some form of cleanup method you could call to quickly clear the data.

[2019-03-26 08:02] Jank1310 commented on #119
@p12y It works. I'm using it every day :) Maybe I'm missing something, do you see any problems with the following approach?

I pass the admin sdk (and other dependencies) into the functions from the index.js.

**Sample Function**
[code]

**Sample Test**
[code]

[2019-03-27 18:29] cruzdanilo opened #139 "missing firebase.firestore.FieldPath"
[code]

[2019-03-27 19:39] cruzdanilo commented on #139
i could work it around using the following code:

[code]

but the queries are not working (they return empty) when using special characters in the field name/path, which is the main reason for using `firebase.firestore.FieldPath` in the first place ([reference](https://github.com/firebase/firebase-admin-node/issues/423#issuecomment-447940435)). example:
[code]
collection data:
[code]

[2019-03-28 10:21] p12y commented on #119
@Jank1310 I'm doing integration testing with React, so I need to call `jest.mock` to mock out the module in my components. I found the solution, which is a variation of what you are doing by exporting a reset function and calling it in the afterEach hook. E.g.

[code]

Cheers for the help!

[2019-04-09 15:31] mis8680 opened #141 "firebase.auth().createUser fails silently when it has `await`"
I found some weird issue with `auth()` mock object. Here is my code:
[code]
[code]

The `admin.auth().createUser` fails without any error. but If I update the code with this, It works.
[code]

I wonder If `firebase-mock` support `async/await`?! I am using `mocha` to test.

[2019-04-14 00:01] alexpchin opened #144 "Is this project still being maintained?"
Hi,

Firstly, I'm loving your work! (Thought I'd say that first!)

However, I'm just checking... is there an intention to continue maintaining this project? I can see that the last commit was Sep 26, 2018. I am unsure whether things like `FieldValue.arrayUnion` are supported and I can see that there are a number of PR's outstanding...

Just wondering as I'm just about to do a load of firebase work

[2019-04-15 17:04] SidneyNemzer commented on #144
Unfortunately, based on @soumak77's GitHub activity, he hasn't been on GitHub lately and may have missed the notifications about PRs and issues. Maybe you should try contacting the email on his profile?

[2019-05-17 20:12] toddpi314 opened #146 "OMG - BREAKING ISSUE - Everything's messed up"
(Just kidding)

### Installed the latest from npm, integrated with guidance from docs, ran tests, everything worked perfectly. No issues. Quality package.

Shout out to @soumak77, @bendrucker, @katowulf, @rbokel, @squirly, @ilearnio for making this project happen.

Keep up the great work!

[2019-05-24 16:03] dmurvihill opened #147 "Add LICENSE file"
Package metadata says MIT but the license is not included in the source code, causing a legal question of whether we are allowed to use the package.

[2019-05-27 15:09] #146 closed, assigned to nobody

[2019-06-22 02:13] ericfong commented on #144
Found some forks

https://www.npmjs.com/package/@pie-kds/firebase-mock
https://github.com/danleavitt0/firebase-mock
https://github.com/Jank1310/firebase-mock

and other PRs
Hope someone can help to maintain this module

[2019-08-01 14:49] RezaRahmati opened #149 "Type definition for type script"
I am using firebase-mock with type script, I would suggest to add type definition for firebase-mock

[2019-08-01 14:54] RezaRahmati opened #150 "How to check if firestore where function is called with params"
I have this code

[code]

and in my test (with jest) I have below code

[code]

but I get below error

[code]

What I am doing wrong?

[2019-08-07 13:51] RezaRahmati opened #151 "mockfirebase ref is not a function"
Hi

I have below code in my test with jest

[code]

but I get `TypeError: mockfirebase.ref is not a function`

Also when I `console.log(typeof mockfirebase.ref);` it will show `object` instead of function. What I am doing wrong?

[2019-08-07 17:57] RezaRahmati commented on #125
@NullSoldier I receive the below error
`TypeError: mockfirebase.ref is not a function`

Please see this [https://github.com/soumak77/firebase-mock/issues/151](https://github.com/soumak77/firebase-mock/issues/151)

[2019-08-15 01:29] mastepanoski opened #152 "Add support for auth getUserByPhoneNumber and listUsers methods"
The authentication API has two methods. Here I provide a possible implementation:

[code]
[code]

[2019-08-20 19:07] Emiliano-Bucci opened #153 "Issues with Jest"
Good evening to all! I'm working on a Next.JS + typescript application and i start to use Firebase. I'm finding issues with jest. Without this lib i keep getting this:

[code]

and with the use of this lib, mostly the same. Is possible that Firebase team don't think on this kind of environments? Anyone knows why?

[2019-09-22 12:37] calendee commented on #137
@p12y Do you have an updated sample of how you're doing this? I have the same example code you described above.

How are you making this work now?

[2019-09-25 21:36] crutchcorn opened #155 "`initializeApp` does not return `functions` method"
The code usage I'm having looks like:
[code]

With my mocks just looking like this:
[code]

However my code gives me errors as there is no `functions` method on the return value for `initializeApp`

[2019-10-23 09:31] Venryx opened #156 "Firebase-mock's firestore() function does not return a singleton"
The official `require("firebase/app").firestore()` function returns a singleton -- that is:
[code]

However, the firebase-mock equivalent is inconsistent with that:
[code]

To be consistent with the official firebase API, shouldn't additional calls to `firestore()` return the same singleton-value each time?

(This issue caused a lot of lost time in my project, as the configuration I made to one in

[2019-10-23 09:39] Venryx commented on #156
Anyway, in the meantime, this is what I use to fix it:
[code]

[2019-10-23 10:20] Venryx commented on #156
Found a better way to resolve the issue, as [seen here](https://github.com/esnya/nekotaku/blob/7d17f5629b76605cb027d6e8a9af5747e8b4803e/tests/unit/browser/models/utilities.ts#L21):
[code]

While this resolves the issue, I think the default behavior should be changed, such that if no values are supplied for the `new MockFirebaseSDK(...)` parameters, they default to "singleton" behavior (consistent

[2019-10-23 10:32] Venryx commented on #115
Just wanted to mention that the missing `onSnapshot()` functionality is added in pull-request #130, but just hasn't been accepted yet.

In the mean-time, you can add that functionality by running `npm install BrianChapman/firebase-mock#issue-81-onsnapshot`.

It's worked well so far in my project.

---

P.S. By the way, I agree with the others that the docs _really_ need some improvement. The tutor

[2019-10-23 10:55] Venryx opened #157 "Cannot be used in webpack/browser, due to require("fs")"
Most of this library works perfectly fine between NodeJS and the browser/Webpack.

However, there is one line that breaks it for the latter: https://github.com/soumak77/firebase-mock/blob/master/src/storage-file.js#L8

Ideally, there would be a way to exclude the NodeJS-requiring portion of the library, so you can use it from browser code.

This would be helpful because it means I can more easily

[2019-10-23 10:55] Venryx commented on #157
For now I'm getting around the issue by adding fs to Webpack's externals config:
[code]

[2019-11-04 21:52] dmurvihill opened #160 "Maintainer is deceased"
It looks like @soumak77 tragically [passed away last year](https://www.legacy.com/obituaries/name/brian-soumakian-obituary?pid=190616392&page=2).

I'll be initiating a name dispute on NPM and accepting pull requests at my own fork. Anyone else willing to help out?

[2019-11-04 23:18] dmurvihill commented on #144
Hi all,

It seems @soumak77 is deceased. Let's move this discussion to #160.

[2019-11-05 17:40] dmurvihill opened #162 "Mock database sharding"
Firebase SDK [version 4.4.0](https://firebase.google.com/support/release-notes/js#version_440_-_september_21_2017) added support for sharding. This would be really killer if we could mock it well.

[2019-11-12 08:43] op commented on #160
This made me sad to hear. Rest in peace. :dove:

I don't have the bandwidth to contribute much right now. Best of luck!

[2019-11-15 10:35] Venryx commented on #160
Please let us know if/when you complete the name dispute on NPM; there are some important issues that need to be addressed in the library. (on whichever fork becomes connected to the npm module)

Also: Rest in peace, Brian! 🕊

[2019-11-18 15:43] dmurvihill commented on #162
Wrong repo, meant to open this on my fork.

[2019-11-18 15:43] #162 closed, assigned to nobody

[2019-11-18 15:46] dmurvihill commented on #160
I've now gone back and forth with NPM and they are sticking to their standard four-week deadline for package owners to respond to name disputes. So the soonest we could expect to get publish permissions is 1 December.

For now I'll begin publishing updates from [my fork](https://github.com/dmurvihill/firebase-mock). Anyone who wants an issue or PR prioritized is welcome to re-open it there. We'll

[2019-11-19 09:36] Ryomasao commented on #119
@p12y
I have same issue and I've tried your solution.
But it dosen't work.

Below is the simplified code. is there something wrong?

<b>mockTarget.js</b>
[code]

<b>sample.test.js</b>
[code]

[2019-11-19 11:06] p12y commented on #119
@Ryomasao I'm not sure how that's the same problem? Either way, the reason that's not working is because primitives are passed by value. What you want to do is increment the value of counter, not count.

[code]

[2019-11-20 01:57] Ryomasao commented on #119
@p12y
Thank you for reply!
I  understood perfectly! Thank you!

<b> wrong</b>
[code]

<b> success</b>
[code]

[2019-11-21 08:05] heygambo commented on #160
Rest in peace. 💐

[2019-11-21 17:35] hadson19 opened #163 "Incorrect Bucket File download Api"
I've looked into the code Firebase Bucket Storage File (firebase-admin: "8.3.0") and found that when we call download - the content should be returned in any case..
[code]
What do you think about this?
Thanks.

[2019-11-21 17:50] hadson19 commented on #163
Should be fixed bu pull request
https://github.com/soumak77/firebase-mock/pull/128/files

[2019-11-25 17:55] dmurvihill commented on #160
Hi again. We're working on clearing up the pull request backlog. Track our progress [here](https://github.com/dmurvihill/firebase-mock/projects/2). I could use some assistance getting the following pull requests ready to merge:

[onSnapshot support](https://github.com/dmurvihill/firebase-mock/pull/19) (needs a few more tests; check with @zeevl to make sure you're not duplicating effort as he's bee

[2019-12-02 16:18] dmurvihill commented on #160
NPM's four week response period ended on Friday so I am expecting action from them this week. I followed up with their support team to move things along.

The three pull requests above are important changes that are _almost_ ready to merge. Please help us out and try to finish one if you can.

[2019-12-03 22:36] dmurvihill commented on #160
NPM now telling me they won't act before 10 December.

[2019-12-11 19:56] dmurvihill commented on #160
`firebase-mock@2.3.0` has been published to NPM. Happy hacking!

[2019-12-15 19:29] raman-nbg opened #164 "Add support for messaging in Admin SDK"
Currently Firebase messaging in the admin SDK is not supported. Are there any plans to add support for this?

In my case I need to test/mock multicast message (`sendMulticast()`).

[2019-12-16 02:31] dmurvihill commented on #164
Hi @raman-nbg, any good PR to add support for mocking Firebase messaging in the admin SDK would be gladly accepted! Cheers.

[2019-12-16 16:28] raman-nbg opened #165 "npm install fails on macOS with node"
Running `npm install` fails on my machine.

- macOS version: 10.14.6
- node version: v12.10.0
- npm version: 6.10.3

Error output:

[code]

[2019-12-16 16:43] raman-nbg commented on #165
https://github.com/node-inspector/node-inspector/issues/960#issuecomment-427710984 helped me.

[2019-12-16 16:43] #165 closed, assigned to nobody

[2019-12-16 17:55] raman-nbg commented on #164
Ok, going to try this.

But one question about the implementation:

`Messaging.send(message)` (https://firebase.google.com/docs/reference/admin/node/admin.messaging.Messaging.html#send) takes a message as an argument. Should I validate this message according to
https://firebase.google.com/docs/reference/admin/node/TokenMessage.html?

[2019-12-16 18:02] raman-nbg commented on #164
Or should I implement it like described in [erros.md](https://github.com/soumak77/firebase-mock/blob/master/tutorials/client/rtdb/errors.md)?

[2019-12-16 18:20] dmurvihill commented on #164
Anyone else interested in mocking admin FCM? @op? If so, I'd love to get your opinion.

Unless it makes a big difference in your workflow, @raman-nbg, I'd suggest preserving the pattern from `errors.md` and not bother with validating the message.

Note that the message will be a [Message](https://firebase.google.com/docs/reference/admin/node/admin.messaging.html#message) instance and not necessari

[2019-12-16 18:22] dmurvihill commented on #164
One more thing: we are migrating away from this repo in the near future; for now, if you could open your PR against https://github.com/dmurvihill/firebase-mock/, I will be publishing from there.

[2019-12-17 00:00] raman-nbg commented on #164
Created PR: https://github.com/dmurvihill/firebase-mock/pull/43

[2019-12-17 00:12] raman-nbg commented on #164
In the implementation you can see, that this is one is very simple. Messaging is stateless (send message, get result and forget about it) but the other components like firestore are stateful.

Messaging could also be mocked easily using sinon. But I think we should still add this feature. It's more convenient to have the same test behaviour for all firebase components.

[2019-12-17 22:20] Redmega opened #166 "Firebase Query equalTo does not support booleans"
[code]

Firebase itself supports booleans as values and as query values.

[2019-12-18 19:18] #166 closed, assigned to nobody

[2019-12-30 16:01] luggage66 commented on #160
Please point NPM to your repo where the code for 2.3.0 and 2.3.1 is. It still points to this repo which hasn't had commits since 2018.

[2019-12-30 20:46] dmurvihill commented on #160
Thanks, v2.3.2 has been published with the correct repo URL. No other changes from 2.3.1.

[2020-01-24 04:41] jorgeeferreyra commented on #141
I have the same issue D:

[2020-02-01 17:12] haydenbetts commented on #160
RIP 🎈

[2020-02-02 14:07] raman-nbg commented on #164
The change is arleady merged into master, but not release yet. Is there any plan to release a new version soon?

[2020-02-20 18:57] dmurvihill opened #168 "Replace use of deprecated method sinon.reset() in tests"
We are getting the following warning:
```sinon.reset is deprecated and will be removed from the public API in a future version of sinon.```

[2020-05-04 17:50] brandonpearcy commented on #120
+1 This really caught me off guard when we first started to use `firebase-mock`. After digging through the source, finally figured out that the API of `firebase-mock` differs from that of the actual Firebase SDK. It makes it hard to actually use `firebase-mock` in production code, because we would have to adjust the code to handle two APIs (and risk hard-to-catch bugs).

[2020-05-09 13:01] stefdelec commented on #118
I do agree with you! Tutorial are not very clear. They use method 'overide', like MockFirebase.override(); but this method does not exist.

[2020-11-05 10:07] lgan1989 commented on #141
`mockauth.autoFlush(1);
`
should do the trick.

[2020-11-30 16:28] mull commented on #164
Ping!

[2021-01-12 22:35] dev-andremonteiro commented on #119
Been trying to make this "reset firestore" function work like you did but it's not clearing the firestore database after running `reset()` in my `beforeEach` or inside my `tests`.

[code]

Sorry for commenting in an old thread but I couldn't find any resource to get this to work, maybe we have a function to reset the database now ?

[2021-02-21 11:03] thomashagstrom opened #170 "onNext is not a function Jest"
# Example
[code]

# Expected behavior
Mocked snapshot is passed

# Actual behaviour
[code]

So I read you guys have been trying to fix this and there is supposedly a merged fix for `onSnapshot`, but I sure can't get it to work. Already tried:

* npm usage of latest version
* npm install directly from this github (https://github.com/soumak77/firebase-mock/)
* npm install from https://github.com/dmu